<div class="about round">
	<h2>About QuickRoute</h2>
	<h3>QuickRoute is a simple and light-weight JavaScript routing framework for SPAs</h3>
	<P>This is a simple, light-weight JavaScript framework to create uri route based SPAs. With this framework you can 
		create a JavaScript based Single Page Application very easliy, quickly and without the need to comprehend a complex library. 
		This framework will add uri-hash based routing to the application.</P>
		
	<P>You can look at the source code at <a href="http://github.com/chakrabar/QuickRoute">GitHub</a>.</p>
	<p>To learn how to use it, head over to the <a href="#training">training</a> page.</p>
	<p>
		Created by <a href="http://github.com/chakrabar">Arghya C</a>.		
		You can also find me at 
		<a href="http://stackexchange.com/users/3023310">
			<img src="http://stackexchange.com/users/flair/3023310.png" width="208" height="58" alt="profile for Arghya C on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Arghya C on Stack Exchange, a network of free, community-driven Q&amp;A sites">
		</a>
	</p>
	<span class="links"><strong>&copy;</strong> ArghyaC 2015</span>
	<br/>
</div>
	